#resultat {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 100;
    
    font-size: 12px;
    line-height: 30px;
    color: #777;
    background-image: url(../media/resultat.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .transfert {
    color: #c01013;
    display: flex !important;
    justify-content: center;
    font-weight: bold !important;
    
  }
  
  .result {
    color: black;
    font-weight: bold;
  }
  
  h8 {
    color: black;
  }

  .buttonLink{
    background-color: #c01013 !important;
    color: white !important;
    
  }
  
  @media (max-width: 401px) {
    #trans {
      background: #F9F9F9;
      padding: 25px;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }
  
    #trans input[type=text],
  #trans input[type=email],
  #trans input[type=tel],
  #trans input[type=url],
  #trans textarea,
  #trans button[type=submit] {
      font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
    }
  
    #trans h3 {
      display: block;
      font-size: 30px;
      font-weight: 300;
      margin-bottom: 10px;
      font-size: 1.75rem;
    }
  
    #trans h4 {
      margin: 5px 0 15px;
      display: block;
      font-size: 13px;
      font-weight: 400;
    }
  
    .result {
      font-size: 0.8rem !important;
    }
  
    h8 {
      font-size: 0.6rem !important;
    }
    .transfert {
      color: #c01013;
      display: flex !important;
      justify-content: center;
      font-weight: bold !important;
      font-size: 1.75rem;
      
    }

  
  }