{% block download %}

    <base href="{{base_url}}">

    <div>

        <p>Vous êtes sur la page de download.</p>

        <form action="controller/ctrl_download.php" method="post" enctype="multipart/form-data" >
            <input type="submit" href="./{{chemin}}" name="bouton" value="Télécharger">
        <form>

    </div> 

    {# <script src="js/download.js"></script> #}

{% endblock %}
