<!DOCTYPE html>
<html lang="fr">

<head>
    <base href="{{base_url}}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>wetransfer Groupe 2</title>
</head>

<body>

<form method="post" action="reception.php" enctype="multipart/form-data">
<label for="fichier">Fichier (tous formats | max. 1 Mo) :</label><br />
<input type="hidden" name="MAX_FILE_SIZE" value="1048576" />
<input type="file" name="fichier" id="fichier" /><br />
<input id="mail" type="text" placeholder="Email destinataire"></input>
<input type="text" placeholder="Email Copie"></input>
<button id="envoi"> Envoyer </button>
</form>
<script src="js/mail.js"></script>
</body>

</html>