{% block download %}

    <base href="{{base_url}}">

    <div>

        <p>Vous êtes sur la page de download.</p>
        
        <a id="dl" href="/wetransfer_like/cloud/1544715491906-b5b6a36c1a194b490e832f207080c3515468fd1a.jpg">Cliquez ici pour télécharger votre fichier</a>

    </div> 

    {# <script src="js/download.js"></script> #}

{% endblock %}