{# {% extends 'view_main.twig' %} #}

{% block authentication %}

    <base href="{{base_url}}">

    <div>

            <label for="login">Login</label>
            <input id="login" name="login" type="text" autocomplete="off">

            <label for="pass">Password</label>
            <input id="pass" name="pass" type="password">

            <button id="connexion">Connexion</button>

            {# {{auth.password}} #}

    </div> 

    <script src="js/authentication.js"></script>

{% endblock %}