{% block download %}

    <base href="{{base_url}}">

    <div>

        <p>Vous êtes sur la page de download.</p>

            <a href="{{chemin}}" name="bouton" >Télécharger</a>

    </div> 

    {# <script src="js/download.js"></script> #}

{% endblock %}
