<!DOCTYPE html>
<html lang="fr">

<head>
    <base href="{{base_url}}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>wetransfer Groupe 2</title>
</head>

<body>

<form method="post" action="controller/ctrl_upload.php" enctype="multipart/form-data">
<label for="fichier">Fichier (tous formats | max. 2 Mo) :</label><br />
<input type="file" name="fichier" id="fichier"/><br />
<input type="hidden" name="MAX_FILE_SIZE" value="2097152"> 
<input type="text" name="destinataire" placeholder="Email destinataire"></input>
<input type="text" name="destinataire2" placeholder="Email Copie"></input>
<button id="envoi"> Envoyer </button>
</form>
<a href="/wetransfer_like/admin">Se connecter</a>
</body>

</html>