{% block download %}

    <base href="{{base_url}}">

    <div>

        <p>Vous êtes sur la page de download.</p>
        
        <button><a href="{{url}}"
   download="{{url}}">Télécharger l'image</a></button> 
        
    </div> 

    {# <script src="js/download.js"></script> #}

{% endblock %}
